  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Anton&display=swap');


font-family: 'Alkatra', cursive;
font-family: 'Anton', sans-serif;



body {
  background-color:#222;
}



.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-container img {
  width: 300px;
  height: 50px;
  margin: 0 10px;
}










  h1 {
      
      border-radius: 10px;
			text-align: center;
			text-decoration: underline;
		}



h2 ,h3 {
  text-align: center;
  color: #222;
  background-color:yellow;
  border-radius:20px;
}



		.container {
      background-color:skyblue;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.image {
      
			position: relative;
			margin: 20px;
		}

		.image img {
      border-radius: 13px;
			display: block;
			width: 100%;
			height: auto;
		}

		.image .description {
      color:#222;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: rgba(255, 255, 255, 0.8);
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
			opacity: 0;
			transition: opacity 0.5s;
		}

		.image:hover .description {
			opacity: 1;
		}

.a {
  text-align: center;
}



		.button {
      text-align: center;
			display: inline-block;
			background-color: red;
			color: #222;
			padding: 10px;
			border-radius: 5px;
			text-decoration: none;
			margin-top: 10px;
		}




footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  font-size: 14px;
  color: #222;
  margin: 0;
}








